<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataViewExample.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataViewExample.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLIRDA11;Data Source=localhost\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=Northwind"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>